{% extends "groupchat/layout.html" %}

{% block title %}
Admin Page
{% endblock %}

{% block body %}
<h2>Fellowship Members:</h2>
<ul>
    {% for member in fellowshipMembers %}
    <li>
        <form action="{% url 'removefromfellowship' %}" method="post">
            {% csrf_token %}
            {{ member.userName }} <button type="submit" name="otheruser" value="{{ member.userName }}" class="btn">Remove from The Fellowship</button>
        </form>
    </li>
    {% endfor %}
</ul>

<h2>Mordor Members:</h2>
<ul>
    {% for member in mordorMembers %}
    <li>
    <form action="{% url 'addtofellowship' %}" method="post">
        {% csrf_token %}
        {{ member.userName }} <button type="submit" name="otheruser" value="{{ member.userName }}" class="btn">Add to The Fellowship</button>
    </form>
    </li>
    {% endfor %}
</ul>

<form action="{% url 'decodemsgs' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="username" value="{{ username }}" >Decode Messages</button>
</form>

<h2>Posts:</h2>
<ul>
    {% for content, sender in messages %}
    <li>
        {{ content }}
        <br>
        Posted by: {{ sender }}
    </li>
    {% endfor %}
</ul>

<form action="{% url 'sendmsg' %}" method="post">
    {% csrf_token %}
    <!-- <p>Enter your private key: <input name="privkey" type="text" /></p> -->
    <input name="msg" type="text" />
    <button type="submit" name="username" value="{{ username }}" >Send</button>
</form>
<br>
<form action="{% url 'updatesym' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="username" value="{{ username }}" >Update Symmetric Key</button>
</form>
{% endblock %}