{% extends "groupchat/layout.html" %}

{% block title %}
Admin Page
{% endblock %}

{% block body %}
<h2>Fellowship Members:</h2>
<ul>
    {% for member in fellowshipMembers %}
    <li>
        {{ member.userName }}
    </li>
    {% endfor %}
</ul>

<h2>Mordor Members:</h2>
<ul>
    {% for member in mordorMembers %}
    <li>
        {{ member.userName }}
    </li>
    {% endfor %}
</ul>

<h2>Posts:</h2>
<ul>
    {% for msg in messages %}
    <li>
        {{ msg.content }}
        <br>
        Posted by: {{ msg.sender }}
    </li>
    {% endfor %}
</ul>

<form action="{% url 'sendmsg' %}" method="post">
    {% csrf_token %}
    <input name="msg" type="text" />
    <input type="submit" value="Send" />
</form>
<br>
<form action="{% url 'updatesym' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Update Symmetric Key" />
</form>
{% endblock %}