{% extends "groupchat/layout.html" %}

{% block title %}
Groupchat
{% endblock %}

{% block body %}
<h1>The Fellowship</h1>

<br>

{% if signup %}
<h3>Keep this safe - your private key is -</h3>
<h6>{{ privatekey }}</h6>
{% endif %}

{% if is_member %}
<form action="{% url 'sendmsg' %}" method="post">
    {% csrf_token %}
    <!-- <p>Enter your private key: <input name="privkey" type="text" /></p> -->
    <input name="msg" type="text" />
    <button type="submit" name="username" value="{{ username }}" >Send</button>>
</form>

<form action="{% url 'decodemsgs' %}" method="post">
    {% csrf_token %}
    <!-- <p>Enter your private key: <input name="privkey" type="text" /></p> -->
    <button type="submit" name="username" value="{{ username }}" >Decode Messages</button>>
</form>
{% endif %}

<h2>Posts:</h2>
<ul>
    {% for msg in messages %}
    <li>
        {{ msg.content }}
        <br>
        Posted by: {{ msg.sender }}
    </li>
    {% endfor %}
</ul>

<h2>Members:</h2>
<ul>
    {% for member in members %}
    <li>
        {{ member.userName }}
    </li>
    {% endfor %}
</ul>

{% endblock %}