{% extends "groupchat/layout.html" %}

{% block title %}
Groupchat
{% endblock %}

{% block body %}
<h1>The Fellowship</h1>

<br>

{% if is_member %}
<form action="{% url 'sendmsg' %}" method="post">
    {% csrf_token %}
    <input name="msg" type="text" />
    <button type="submit" name="username" value="{{ username }}" >Send</button>
</form>

<form action="{% url 'decodemsgs' %}" method="post">
    {% csrf_token %}
    <button type="submit" name="username" value="{{ username }}" >Decode Messages</button>
</form>
{% endif %}

<h2>Posts:</h2>
<ul>
    {% for content, sender in messages %}
    <li>
        {{ content }}
        <br>
        Posted by: {{ sender }}
    </li>
    {% endfor %}
</ul>

<h2>Members:</h2>
<ul>
    {% for member in fellowshipMembers %}
    <li>
        {{ member.userName }}
    </li>
    {% endfor %}
</ul>

{% endblock %}